<h1>Hey <%= @client.identifier %></h1>

<div class="avg">
  <h3>Average Response Time</h3>
  <p><%= @client.payloads.average_response  %></p></br>
</div>

<div class="max">
  <h3>Max Response Time</h3>
  <p><%= @client.payloads.max_response %></p></br>
</div>

<div class="min">
  <h3>Min Response Time</h3>
  <p><%= @client.payloads.min_response %></p></br>
</div>

<div class="type_freq">
  <h3>Most Frequent Response Type</h3>
  <p><%= @client.request_types.most_frequent %></p></br>
</div>

<div class="verbs">
  <h3>List of HTTP Verbs</h3>
  <p> <%= @client.request_types.all_verbs %></p></br>
</div>

<div class="url_freq">
  <h3>List of Urls</h3>
  <ul>
    <% @client.urls.most_to_least_requested.each do |url| %>
    <li>
      <a href="/sources/<%=@client.identifier%>/urls<%= URI(url).path %>">
        <%= url %>
      </a>
    </li>
    <% end %>
  </ul>
</div>

<div class="browser">
  <h3>Web Browser Breakdown</h3>
  <p><%= @client.agents.browser_breakdown %></p></br>
</div>

<div class="os">
  <h3>OS Breakdown</h3>
  <p><%= @client.agents.os_breakdown %></p></br>
</div>

<div class="screen">
  <h3>Screen Resolutions</h3>
  <p><%= @client.screen_resolutions.screen_breakdown %></p></br>
</div>
