<h1>Specific URL</h1>

<div class="min">
  <h2>Minimum Response Time </h2>
  <p><%= @specific_url.min_response %></p><br>
</div>

<div class="max">
  <h2>Maximum Response Time </h2>
  <p><%= @specific_url.max_response %></p><br>
</div>

<div class="avg">
  <h2>Average Response Time </h2>
  <p><%= @specific_url.average_response_time %></p><br>
</div>

<div class="order">
  <h2>Ordered Response Times </h2>
  <p><%= @specific_url.ordered_response_times %></p><br>
</div>

<div class="verbs">
  <h2>All HTTP Verbs </h2>
  <p><%= @specific_url.verb_list %></p><br>
</div>

<div class="referrer">
  <h2>3 Most Popular Referrers </h2>
  <p><%= @specific_url.top_referrers%></p><br>
</div>

<div class="agent">
  <h2>3 Most Popular Agents </h2>
  <p><%= @specific_url.top_agents%></p><br>
</div>
